{
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "new-cap": ["error", { "capIsNew": false }]
  }
}
